<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote the Better Option</title>
</head>
<body>
    <form action="http://localhost:<%- portno %>/" method="post">
        Form Placeholder
    </form>
    <script>
        window.onsubmit = () => {
            //input validation probably not needed
        }
    </script>
</body>
</html>