<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" title="projectCSS">
    <title>Voting Leaderboard</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
</head>
<body>
    <div id="mainContainer">
        <div class="header">
            <br>
            <a href="/"><Button>Home</Button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/leaderboard"><Button>Top Winners</Button></a>
        </div>
        <h1>Voting Leaderboard</h1>
        <h3>Which things got the most votes?</h3>
        <br>
        <table>
            <tr>
                <th>&nbsp;&nbsp;Name&nbsp;&nbsp;</th>
                <th>&nbsp;&nbsp;Number of Wins&nbsp;&nbsp;</th>
                <th>&nbsp;&nbsp;Number of Losses&nbsp;&nbsp;</th>
            </tr>
            <%- tableEntries %>
        </table>
    </div>
</body>
</html>