html {
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    color: white;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 3rem;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#optionsWindow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70rem;
}

.optionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    width: 40rem;
}

.imageContainer {
    width: 20rem;
    height: 20rem;
    background-color: red;
    overflow: hidden;
    text-wrap: wrap;
    border-radius: 2rem;
}

.voteOption {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#radioContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 49rem;
}

input[type="radio"] {
    width:1.5rem;
    height:1.5rem;
}

input[type="submit"], button {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    width:8rem;
    height:3rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 1.4rem;
}

input[type="submit"]:hover, button:hover {
    background-color: darkgray;
}

table, th, td {
    font-size: 1.4rem;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-collapse: collapse;
}

tr {
    width: 20rem;
}